.full-width {
  width: 100%;
}

.header-height {
  height: 20px;
}

.text {
  font-size: 18px;
  color: whitesmoke;
  font-family: monospace;
}

.container {
  padding: 10px 5px 10px 5px;
  background-color: rgba(15, 6, 15, 0.86);
}
