<div class="container-full-width">
  <div fxLayout="row" fxLayoutAlign="start center">
    <h2 class="styled-header">
      Saved Accounts
    </h2>
      <button mat-icon-button>
        <mat-icon class="mdi mdi-plus mdi-24px" (click)="createAccountDialog()"></mat-icon>
      </button>
  </div>
  <table class="container-full-width" [dataSource]="data" mat-table>
    <ng-container matColumnDef="host">
      <th mat-header-cell *matHeaderCellDef> Host </th>
      <td mat-cell *matCellDef="let element"> {{element.host}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.showPassword ? element.password : printHiddenPassword(element)}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row">
          <button mat-icon-button (click)="element.showPassword = !element.showPassword">
            <mat-icon class="mdi" [ngClass]="{'mdi-eye': !element.showPassword, 'mdi-eye-outline' : element.showPassword }"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="mdi mdi-dots-vertical"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
